html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: "Calibri", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 17px;
  color: black;

  /** Variables */
  --yellow: #dee870;
  --purple: #6647a4;
  --blue: #2350e3;
  --green: #2dab2d;
  --red: #d83f24;
  --gray: #444957;
  --gray-light: #71798f;
}

/* utility */

body,
ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  border: 1px solid transparent;
  display: flex;
  margin-top: 2.5rem;
}

.main-btn {
  padding: 10px 20px;
  border-radius: 45px;
  background-color: #4b9618;
  font-weight: 700;
  color: #fff !important;
}

.btn-centered {
  margin: auto;
  position: relative;
  top: -200px;
}

h1 {
  font-family: "Merienda", sans-serif;
  color: #4b9618;
  font-size: 2.5rem;
  font-weight: 100;
}

h2 {
  font-family: "Merienda", sans-serif;
  color: black;
  font-weight: 100;
  font-size: 1.1rem;
}

/* header */

header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 3;
}

.navbar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid #d4d4d4;
}

.navbar__logo {
  width: 80%;
}
.navbar a {
  color: black;
}

li {
  font-family: "quicksand";
  list-style: none;
  padding: 0.5rem 1.7rem;
  font-weight: 500;
}

/* JUMBO section */

.jumbo {
  background: url("../images/pickwickgoedemiddag.jpg") no-repeat center
    center/cover;
  min-height: 80vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jumbo__image-welcome-title {
  height: 125px;
  margin-left: 10rem;
}

.jumbo__welcome-text {
  color: #fff;
  font-size: 1.6rem;
  max-width: 450px;
  line-height: 32px;
  margin-left: 10rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

/* NEw tea section */

.new-tea__left {
  flex: 1 1 50%;
  margin: 1rem;
}

.new-tea__left p {
  margin: 0 0 3rem 0;
}
.new-tea__right {
  flex: 1 1 50%;
}

.new-tea__right-image {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.25);
}

/* OUR FLAVOURS section */

.our-flavours {
  background: #eceade;
}
.our-flavours__heading {
  text-align: center;
  background-color: #fff;
  position: relative;
  top: 100px;
  z-index: 2;
}

.our-flavours__tea {
  flex-grow: 1;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.our-flavours__tea * {
  align-self: center;
  text-align: center;
}

.our-flavours__tea img {
  z-index: 2;
  height: 50%;
  width: 50%;
}
.oval {
  position: absolute;
  z-index: 0;
}

.oval-180 {
  transform: rotate(180deg);
  position: relative;
  top: 7px;
}

/* Section Tea topics */

.tea-topics__container {
  display: flex;
}

/* Section Inspiration */

.inspiration__heading {
  margin-top: 5rem;
  text-align: center;
  background-color: #fff;
}

.inspiration__article {
  flex: 1 1 30%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 0.8rem 1.9rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inspiration__article img {
  width: 100%;
}

.inspiration__article-text-wrap {
  display: flex;
  flex-direction: column;
}
