html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: "Calibri", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: black;

  /** Variables */
  --yellow: #dee870;
  --purple: #6647a4;
  --blue: #2350e3;
  --green: #2dab2d;
  --red: #d83f24;
  --gray: #444957;
  --gray-light: #71798f;
}

/* utility */

body,
ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* header */

header {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.navbar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid #d4d4d4;
}

.navbar__logo {
  width: 80%;
}
.navbar a {
  color: black;
}

li {
  font-family: "quicksand";
  list-style: none;
  padding: 0.5rem 1.7rem;
}

.navbar__button {
  padding: 10px 16px;
  border-radius: 45px;
  background-color: #4b9618;
  background-repeat: repeat-x;
  transition: all 0.65s ease;
  font-weight: 700;
  color: #fff !important;
}
